<div id="<%= dom_id organisation %>">
  <p>
    <strong>Name:</strong>
    <%= organisation.name %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= organisation.subdomain %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= organisation.creator %>
  </p>

</div>
